venv*/
.venv*/
*.code-workspace
.vscode/
*.egg-info/
.pytest_cache/
build/
htmlcov/
.coverage
tmp*/
dist/
.nox
coverage.xml
.ruff_cache/
.mypy_cache/
uv.lock
bug_report*.txt
bin/

*.pyc
*.bak
*.whl
__*
!__*__.py
_tmp*

tests/od/extra-compare*
*.od
*.json
*.jsonc
